<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гороскоп | Водолей</title>
</head>
<body>
<center>
    <table width="800px" height="500px">
        <tr>
            <td>
                <center>
                    <img src='https://horo.mail.ru/img/horo/zodiac/100/11.png' alt='Водолей'><br><br>
                    <h3>Гороскоп для Водолеев на сегодня {{ data }} </h3><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eum laboriosam recusandae
                    suscipit! Architecto corporis distinctio dolorem doloremque, eius error eveniet ipsum non quaerat
                    quidem suscipit tenetur unde, vero vitae?<br><br>
                    <a href="/">Назад к списку</a>
                </center>
            </td>
        </tr>
    </table>
</center>
</body>
</html>