{% extends "base.html" %}
{% block title %}
Гороскоп | Рак
{% endblock %}

{% block style %}
{% include "inc-style.html" %}
{% endblock %}

{% block header %}
{% include "inc-header.html" %}
{% endblock %}

{% block body %}
<center>
    <table width="800px" height="500px">
        <tr>
            <td>
                <center>
                    <img src='https://horo.mail.ru/img/horo/zodiac/100/4.png' alt='Рак'><br><br>
                    <h3>Гороскоп для Раков на сегодня {{ data }} </h3><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet debitis enim illo
                    impedit maxime molestiae natus nesciunt nihil numquam pariatur quaerat qui rem, sunt totam
                    voluptate. Tenetur, voluptate.<br><br>
                    <a href="/">Назад к списку</a>
                </center>
            </td>
        </tr>
    </table>
</center>
{% endblock %}
