<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гороскоп | Скорпион</title>
</head>
<body>
<center>
    <table width="800px" height="500px">
        <tr>
            <td>
                <center>
                    <img src='https://horo.mail.ru/img/horo/zodiac/100/8.png' alt='Скорпион'><br><br>
                    <h3>Гороскоп для Скорпионов на сегодня {{ data }} </h3><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis delectus deserunt distinctio
                    dolor enim esse excepturi illo natus nisi officiis porro provident quibusdam reiciendis rerum,
                    similique tempora unde ut, voluptate?<br><br>
                    <a href="/">Назад к списку</a>
                </center>
            </td>
        </tr>
    </table>
</center>
</body>
</html>