{% extends "base.html" %}
{% block title %}
Гороскоп | Дева
{% endblock %}

{% block style %}
{% include "inc-style.html" %}
{% endblock %}

{% block header %}
{% include "inc-header.html" %}
{% endblock %}

{% block body %}
<form action="" method="post">
    <fieldset>
        <legend>Форма обратной связи</legend>
        <br>
        <label> Ваше имя: <input type="text" placeholder="Имя" required, name='name'></input></label><br><br>
        <label> Ваш email: <input type="email" placeholder="Email" required name='email'></input></label><br><br>
        <label>Текст сообщения:</label><br>
        <label><textarea placeholder="Введите ваше сообщение" required name='text'
                         style="width:450px;height:100px"></textarea></label><br><br>
        <label>
            <button type="submit">Отправить</button>
            <button type="reset">Очистить</button>
        </label>
    </fieldset>
</form>
{% endblock %}
