{% extends "base.html" %}
{% block title %}
Нумерология | Создание курса
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block header %}
{% include "inc-header.html" %}
{% endblock %}
{% block body %}
<div class="center">
    <h1>Создание категории</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Название" class="inp1">
        <br>

        <select name="category_head" class="inp1">
            <option value="0">Корневой каталог</option>
            {% for category in categories %}
            <option value="{{category.id + 1}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="butt2">Сохранить и вернуться к списку категорий</button>
    </form>
</div>
{% endblock %}