<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гороскоп | Главная</title>
    <style>
ul {
    float:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
    </style>

</head>
<body>
<ul>
    <li><a href="/">Гороскоп</a></li>
    <li><a href="/contact">Обратная связь</a></li>
</ul>

<div class="center" align="center">
    <h1>Гороскоп на каждый день</h1>
    <br>
    <table width="800px" height="500px">
        <tr>
            <td><a href="/aries">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/1.png' alt='Овен'><br>Овен<br>21 марта —
                    19
                    апреля
                </center>
            </a></td>
            <td><a href="/taurus">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/2.png' alt='Телец'><br>Телец<br>20 апреля
                    —
                    20 мая
                </center>
            </a></td>
            <td><a href="/gemini">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/3.png' alt='Близнецы'><br>Близнецы<br>21
                    мая
                    — 21 июня
                </center>
            </a></td>
            <td><a href="/cancer">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/4.png' alt='Рак'><br>Рак<br>22 июня — 22
                    июля
                </center>
            </a></td>
        </tr>
        <tr>
            <td><a href="/leo">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/5.png' alt='Лев'><br>Лев<br>23 июля — 22
                    августа
                </center>
            </a></td>
            <td><a href="/virgo">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/6.png' alt='Дева'><br>Дева<br>23 августа
                    — 22
                    сентября
                </center>
            </a></td>
            <td><a href="/libra">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/7.png' alt='Весы'><br>Весы<br>23 сентября
                    —
                    23 октября
                </center>
            </a></td>
            <td><a href="/scorpio">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/8.png' alt='Скорпион'><br>Скорпион<br>24
                    октября — 21 ноября
                </center>
            </a></td>
        </tr>
        <tr>
            <td><a href="/sagitarius">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/9.png' alt='Стрелец'><br>Стрелец<br>22
                    ноября
                    — 21 декабря
                </center>
            </a></td>
            <td><a href="/capricorn">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/10.png' alt='Козерог'><br>Козерог<br>22
                    декабря — 19 января
                </center>
            </a></td>
            <td><a href="/aquarius">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/11.png' alt='Водолей'><br>Водолей<br>20
                    января — 18 февраля
                </center>
            </a></td>
            <td><a href="/pisces">
                <center><img src='https://horo.mail.ru/img/horo/zodiac/100/12.png' alt='Рыбы'><br>Рыбы<br>19 февраля
                    —
                    20 марта
                </center>
            </a></td>
        </tr>
    </table>
</div>
</body>
</html>

