<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гороскоп | Телец</title>
</head>
<body>
<center>
    <table width="800px" height="500px">
        <tr>
            <td>
                <center>
                    <img src='https://horo.mail.ru/img/horo/zodiac/100/2.png' alt='Телец'><br><br>
                    <h3>Гороскоп для Тельцов на сегодня {{ data }} </h3><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos enim id itaque laudantium
                    possimus vero. Aspernatur cupiditate delectus dicta libero maiores minima, natus odit praesentium
                    reprehenderit rerum sequi vero.<br><br>
                    <a href="/">Назад к списку</a>
                </center>
            </td>
        </tr>
    </table>
</center>
</body>
</html>